@font-face {
    font-family: 'Ostium';
    src: local('Ostium Regular'), local('Ostium-Regular'),
        url('Ostium-Regular.woff2') format('woff2'),
        url('Ostium-Regular.woff') format('woff'),
        url('Ostium-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }